# SPDX-FileCopyrightText: 2023 Kevin de Jong <monkaii@hotmail.com>
#
# SPDX-License-Identifier: CC0-1.0

---

name: Release NPM Package

concurrency: deployment

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release-me:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.release.outputs.created }}
      release: ${{ steps.release.outputs.release }}

    steps:
      - name: Run ReleaseMe
        id: release
        uses: dev-build-deploy/release-me@v0
        with:
          token: ${{ github.token }}

  release-action:
    name: Release GitHub Action
    runs-on: ubuntu-latest
    needs: release-me
    if: needs.release-me.outputs.created

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ fromJSON(needs.release-me.outputs.release).tag_name }}

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: npm ci

      - name: Update version
        run: npm --no-git-tag-version version ${{ fromJSON(needs.release-me.outputs.release).tag_name }}

      - name: Build package
        run: npm run build

      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
